.row {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    margin: 0 1px;
}

.rowHeader {
    display: flex;
}

.dateContent {
    pointer-events: none;
    z-index: 4;
}