.row {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.row-header {
    display: flex;
}

.date-content {
    /* pointer-events: none; */
    z-index: 4;
}