.eventBarWrapper {
    background-color: #9FE1E7;
    padding: 2px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    z-index: 5;
    color: #FFF;
    padding-left: 5px;
    border: 1px solid;
}

.eventBarWrapper.start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.eventBarWrapper.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.timeEventBarWrapper {
    min-height: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border: 1px solid;
    flex-wrap: wrap;
}