.event-bar {
    background-color: rgb(159, 225, 231);
    margin-bottom: 3px;
    padding: 2px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 5;
}

.event-bar.start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.event-bar.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.time-event-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border: 1px solid;
}

.time-label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}