.timeHeader {
    display: flex;
    flex: 0.1;
}

.timeHeaderSegment {
    flex: 0.1;
}

.timeHeaderContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.timeHeaderHeaders {
    display: flex;
    flex: 0.5;
    margin-bottom: 5px;
}

.timeHeaderItem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
}