.controls {
    display: flex;
}

.buttons {
    all: unset;
    margin-right: 15px;
    font-size: 1.2rem;
    background-color: #FAFAFA;
    cursor: pointer;
}

.todayBtn {
    padding: 10px 20px;
    border-radius: 23px;
}

.moveBtn {
    padding: 10px 15px;
    border-radius: 18px;
}